services:
  api:
    image: faiver90/orders:latest
    volumes:
      - ./app:/app/app
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    command: python -m uvicorn app.main:app --host 0.0.0.0 --port 8000
    depends_on:
      - postgres
      - redis
      - rabbitmq

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 20

  celery-worker:
    image: faiver90/orders:latest
    env_file:
      - ./.env
    command: ["python", "-m", "celery", "-A", "app.tasks.celery_app:celery_app", "worker", "-l", "INFO"]
    depends_on:
        rabbitmq:
          condition: service_healthy
        redis:
          condition: service_started


  consumer:
    image: faiver90/orders:latest
    env_file:
      - ./.env
    command: ["python", "-m", "app.consumers.new_order_consumer"]
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_started

  migrate:
    image: faiver90/orders:latest
    env_file:
      - ./.env
    depends_on:
      postgres:
        condition: service_started
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-d", "db_prod" ]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    command: ["python", "-m", "app.db.migrate_script"]
    restart: "no"
